Package: com.axs.wcenhance
Name: WCEnhance
Version: 1.0-3
Description: 仅供学习交流，请在 24 小时内自觉删除。
Homepage: https://github.com/axs66
Section: 微信插件
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Maintainer: huami
Author: huami
Architecture: iphoneos-arm iphoneos-arm64 iphoneos-arm64e
Icon: https://axs66.github.io/repo/icon/wechat.png
Sileodepiction: https://axs66.github.io/repo/sileodepiction/wcenhance/js.json
